<app-navbar></app-navbar>

<div class="row">
  <div class="container">
    <div class="section">
      <h5>My countries</h5>
      <p>All countries from rest with map</p>
    </div>
  </div>
</div>


<app-countries></app-countries>

<app-footer></app-footer>
