
<div class="row">
  <div class="container">
    <div class="col m6">
      <div class="chip" (click) = "getFilter('col')">
        col
      </div>
      <div class="chip" (click) = "getFilter('est')">
        est
      </div>
      <div class="chip" (click) = "getFilter('chi')">
        chi
      </div>

      <table>
        <thead>
        <tr>
          <th>Pais</th>
          <th>Ciudad</th>
          <th>Lat/Log</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let country of countries">
          <td>
            {{ country.name }}
          </td>
          <td>
            {{ country.capital }}
          </td>
          <td (click) = "getMap(country.latlng)">
            <a href="#">
              {{ country.latlng }}
            </a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col m6">
      <app-maps></app-maps>
    </div>
  </div>
</div>

